@charset "utf-8";


@font-face {
  font-family: 'Nanum Barun Gothic';
  font-style: normal;
  font-weight: 200;
  src: url(../font-awesome/fonts/nanum/NanumBarunGothicUltraLight.eot);
  src: local('Nanum Barun Gothic UltraLight'),
       local('NanumBarunGothicUltraLight'),
       url(../font-awesome/fonts/nanum/NanumBarunGothicUltraLight.eot?#iefix) format('embedded-opentype'),
       url(../font-awesome/fonts/nanum/NanumBarunGothicUltraLight.woff2) format('woff2'),
       url(../font-awesome/fonts/nanum/NanumBarunGothicUltraLight.woff) format('woff'),
       url(../font-awesome/fonts/nanum/NanumBarunGothicUltraLight.ttf) format('truetype');
}

@font-face {
  font-family: 'Nanum Barun Gothic';
  font-style: normal;
  font-weight: 300;
  src: url(../font-awesome/fonts/nanum/NanumBarunGothicLight.eot);
  src: local('Nanum Barun Gothic Light'),
       local('NanumBarunGothicLight'),
       url(../font-awesome/fonts/nanum/NanumBarunGothicLight.eot?#iefix) format('embedded-opentype'),
       url(../font-awesome/fonts/nanum/NanumBarunGothicLight.woff2) format('woff2'),
       url(../font-awesome/fonts/nanum/NanumBarunGothicLight.woff) format('woff'),
       url(../font-awesome/fonts/nanum/NanumBarunGothicLight.ttf) format('truetype');
}

@font-face {
  font-family: 'Nanum Barun Gothic';
  font-style: normal;
  font-weight: 400;
  src: url(../font-awesome/fonts/nanum/NanumBarunGothic.eot);
  src: local('Nanum Barun Gothic'),
       local('NanumBarunGothic'),
       url(../font-awesome/fonts/nanum/NanumBarunGothic.eot?#iefix) format('embedded-opentype'),
       url(../font-awesome/fonts/nanum/NanumBarunGothic.woff2) format('woff2'),
       url(../font-awesome/fonts/nanum/NanumBarunGothic.woff) format('woff'),
       url(../font-awesome/fonts/nanum/NanumBarunGothic.ttf) format('truetype');
}

@font-face {
  font-family: 'Nanum Barun Gothic';
  font-style: normal;
  font-weight: 700;
  src: url(../font-awesome/fonts/nanum/NanumBarunGothicBold.eot);
  src: local('Nanum Barun Gothic Bold'),
       local('NanumBarunGothicBold'),
       url(../font-awesome/fonts/nanum/NanumBarunGothicBold.eot?#iefix) format('embedded-opentype'),
       url(../font-awesome/fonts/nanum/NanumBarunGothicBold.woff2) format('woff2'),
       url(../font-awesome/fonts/nanum/NanumBarunGothicBold.woff) format('woff'),
       url(../font-awesome/fonts/nanum/NanumBarunGothicBold.ttf) format('truetype');
}

/*
 * Nanum Gothic
 */
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 400;
  src: url(../font-awesome/fonts/nanum/NanumGothic-Regular.eot);
  src: url(../font-awesome/fonts/nanum/NanumGothic-Regular.eot?#iefix) format('embedded-opentype'),
       url(../font-awesome/fonts/nanum/NanumGothic-Regular.woff2) format('woff2'),
       url(../font-awesome/fonts/nanum/NanumGothic-Regular.woff) format('woff'),
       url(../font-awesome/fonts/nanum/NanumGothic-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 700;
  src: url(../font-awesome/fonts/nanum/NanumGothic-Bold.eot);
  src: url(../font-awesome/fonts/nanum/NanumGothic-Bold.eot?#iefix) format('embedded-opentype'),
       url(../font-awesome/fonts/nanum/NanumGothic-Bold.woff2) format('woff2'),
       url(../font-awesome/fonts/nanum/NanumGothic-Bold.woff) format('woff'),
       url(../font-awesome/fonts/nanum/NanumGothic-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 800;
  src: url(../font-awesome/fonts/nanum/NanumGothic-ExtraBold.eot);
  src: url(../font-awesome/fonts/nanum/NanumGothic-ExtraBold.eot?#iefix) format('embedded-opentype'),
       url(../font-awesome/fonts/nanum/NanumGothic-ExtraBold.woff2) format('woff2'),
       url(../font-awesome/fonts/nanum/NanumGothic-ExtraBold.woff) format('woff'),
       url(../font-awesome/fonts/nanum/NanumGothic-ExtraBold.ttf) format('truetype');
}

/*
 * Nanum Myeongjo
 */
@font-face {
  font-family: 'Nanum Myeongjo';
  font-style: normal;
  font-weight: 400;
  src: url(../font-awesome/fonts/nanum/NanumMyeongjo-Regular.eot);
  src: url(../font-awesome/fonts/nanum/NanumMyeongjo-Regular.eot?#iefix) format('embedded-opentype'),
       url(../font-awesome/fonts/nanum/NanumMyeongjo-Regular.woff2) format('woff2'),
       url(../font-awesome/fonts/nanum/NanumMyeongjo-Regular.woff) format('woff'),
       url(../font-awesome/fonts/nanum/NanumMyeongjo-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Nanum Myeongjo';
  font-style: normal;
  font-weight: 600;
  src: url(../font-awesome/fonts/nanum/NanumMyeongjo-Bold.eot);
  src: url(../font-awesome/fonts/nanum/NanumMyeongjo-Bold.eot?#iefix) format('embedded-opentype'),
       url(../font-awesome/fonts/nanum/NanumMyeongjo-Bold.woff2) format('woff2'),
       url(../font-awesome/fonts/nanum/NanumMyeongjo-Bold.woff) format('woff'),
       url(../font-awesome/fonts/nanum/NanumMyeongjo-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Nanum Myeongjo';
  font-style: normal;
  font-weight: 700;
  src: url(../font-awesome/fonts/nanum/NanumMyeongjo-ExtraBold.eot);
  src: url(../font-awesome/fonts/nanum/NanumMyeongjo-ExtraBold.eot?#iefix) format('embedded-opentype'),
       url(../font-awesome/fonts/nanum/NanumMyeongjo-ExtraBold.woff2) format('woff2'),
       url(../font-awesome/fonts/nanum/NanumMyeongjo-ExtraBold.woff) format('woff'),
       url(../font-awesome/fonts/nanum/NanumMyeongjo-ExtraBold.ttf) format('truetype');
}

.f10{ width:10% !important}
.f20{ width:20% !important}
.f25{ width:25% !important}
.f30{ width:30% !important}
.f33{ width:33.3333333% !important}
.f35{ width:35% !important}
.f40{ width:40% !important}
.f43{ width:43% !important}
.f45{ width:45% !important}
.f50{ width:50% !important}
.f60{ width:60% !important}
.f65{ width:65% !important}
.f70{ width:70% !important}
.f80{ width:80% !important}
.f90{ width:90% !important}
.f100{ width:100% !important}

.w5 {width:5% !important;}
.w10 {width:10% !important;}
.w15 {width:15% !important;}
.w20 {width:20% !important;}
.w25 {width:25% !important;}
.w30 {width:30% !important;}
.w33 {width:33.333333334% !important;}
.w35 {width:35% !important;}
.w40 {width:40% !important;}
.w45 {width:45% !important;}
.w50 {width:50% !important;}
.w55 {width:55% !important;}
.w60 {width:60% !important;}
.w65 {width:65% !important;}
.w70 {width:70% !important;}
.w75 {width:75% !important;}
.w80 {width:80% !important;}
.w85 {width:85% !important;}
.w90 {width:90% !important;}
.w95 {width:95% !important;}
.w100 {width:100% !important;}

/*링크점선 없애기*/
a {select-dummy: expression(this.hideFocus=true);}
.lineNone{ border:none}
.line-bottom{ border-bottom:1px solid #eee; display:block}
.line-dot{ background:url(../images/line-dot.png) repeat-x}

/* button align */
.btn-cen{text-align:center; overflow:hidden;}

.btn-both{overflow:hidden;clear:both;width:100%; }
.btn-both .fl{float:left; padding-right:5px;}
.btn-both .fr{float:right; padding-left:5px;}
/* button align */

.box { border:1px solid #d7d7d7; padding: 30px}
.box2 { border:5px solid #cbcfd1; padding: 30px}
.box3 { border:5px solid #cbcfd1; padding: 25px 0; font-size:19px}
.box3 h4.line-bottom { border-bottom:1px solid #cbcfd1 !important; }
.box-bg { border:1px solid #cbcfd1; background: #f7f7f7}
.box-line { border:1px solid #e3e3e3; border-top:5px solid #cbcfd1; background: #fff}
.bg{background: #f7f7f7}

.font-p1{ color:#50b948 !important;}
.font-p2{ color:#005953 !important}
.font-p3{ color:#fa6b2b !important}
.font-sub{ color:#777 !important}
.font-red{ color:#ff0000 !important}
.font-blue{ color:#125aac !important}
.font-green{ color:#2fa865 !important}
.font-orange{ color:#ff6600 !important}
.font-yellow{ color:#ffcc00 !important}
.font-down{ color:#496ff5 !important}
.font-black{ color:#000 !important}
.font-white{ color:#fff !important}
.font-help{ color:#9e9e9e !important}
.font-info{ color:#777 !important}
.text-underline{ text-decoration: underline !important}

.font10{ font-size:10px !important}
.font11{ font-size:11px !important; line-height:14px !important}
.font12{ font-size:12px !important; line-height:15px !important}
.font13{ font-size:13px !important}
.font14{ font-size:14px !important}
.font16{ font-size:16px !important}
.bold { font-weight:600}
.normal{ font-weight:normal}
.bar{ color:#d4d3d3; font-weight:normal !important; padding:0 10px}

.size10{ font-size: 10px !important; }
.size11{ font-size: 11px !important; }
.size12{ font-size: 12px !important; }
.size13{ font-size: 13px !important; }
.size14{ font-size: 14px !important; }
.size16{ font-size: 16px !important; }
.size18{ font-size: 18px !important; }
.size20{ font-size: 20px !important; line-height: 26px }
.size24{ font-size: 24px !important; }
.size30{ font-size: 30px !important; }
.size36{ font-size: 36px !important; }
.size48{ font-size: 48px !important; }
.size60{ font-size: 60px !important; }
.size72{ font-size: 72px !important; }
.size90{ font-size: 90px !important; }

.top-1{ position:relative; top:-1px}
.top-2{ position:relative; top:-2px}
.top-3{ position:relative; top:-3px}
.top-4{ position:relative; top:-4px}
.top-5{ position:relative; top:-5px}

.top1{ position:relative; top:1px}
.top2{ position:relative; top:2px}
.top3{ position:relative; top:3px}
.top4{ position:relative; top:4px}
.top5{ position:relative; top:5px}
.top6{ position:relative; top:6px}
.top7{ position:relative; top:7px}
.top8{ position:relative; top:8px}
.top9{ position:relative; top:9px}
.top10{ position:relative; top:10px}
.top15{ position:relative; top:15px}
.top20{ position:relative; top:20px}
.top25{ position:relative; top:25px}
.top30{ position:relative; top:30px}
.top40{ position:relative; top:40px}
.top50{ position:relative; top:50px}
.top100{ position:relative; top:100px}

.left5{ position:relative; left:5px}
.left10{ position:relative; left:10px}
.left15{ position:relative; left:15px}
.left20{ position:relative; left:20px}
.left30{ position:relative; left:30px}
.left40{ position:relative; left:40px}
.left50{ position:relative; left:50px}
.left100{ position:relative; left:100px}

.right5{ position:relative; right:5px}
.right10{ position:relative; right:10px}
.right15{ position:relative; right:15px}
.right20{ position:relative; right:20px}
.right30{ position:relative; right:30px}
.right40{ position:relative; right:40px}
.right50{ position:relative; right:50px}
.right100{ position:relative; right:100px}

.bottom5{ position:relative; bottom:5px}
.bottom10{ position:relative; bottom:10px}
.bottom15{ position:relative; bottom:15px}
.bottom20{ position:relative; bottom:20px}
.bottom30{ position:relative; bottom:30px}
.bottom40{ position:relative; bottom:40px}
.bottom50{ position:relative; bottom:50px}
.bottom100{ position:relative; bottom:100px}


/*패딩*/
.pTB{ padding: 15px 0}
.p0{ padding:0 !important}
.p5{ padding:5px !important}
.p10{ padding:10px !important}
.p15{ padding:15px !important}
.p20{ padding:20px !important}
.p25{ padding:25px !important}
.p30{ padding:30px !important}
.p35{ padding:35px !important}
.p40{ padding:40px !important}
.p45{ padding:45px !important}
.p50{ padding:50px !important}

.pT5{ padding-top:5px !important}
.pT10{ padding-top:10px !important}
.pT15{ padding-top:15px !important}
.pT20{ padding-top:20px !important}
.pT25{ padding-top:25px !important}
.pT30{ padding-top:30px !important}
.pT35{ padding-top:35px !important}
.pT40{ padding-top:40px !important}
.pT45{ padding-top:45px !important}
.pT50{ padding-top:50px !important}

.pL5{ padding-left:5px !important}
.pL10{ padding-left:10px !important}
.pL15{ padding-left:15px !important}
.pL20{ padding-left:20px !important}
.pL25{ padding-left:25px !important}
.pL30{ padding-left:30px !important}
.pL35{ padding-left:35px !important}
.pL40{ padding-left:40px !important}
.pL45{ padding-left:45px !important}
.pL50{ padding-left:50px !important}
.pL100{ padding-left:100px !important}

.pR5{ padding-right:5px !important}
.pR10{ padding-right:10px !important}
.pR15{ padding-right:15px !important}
.pR20{ padding-right:20px !important}
.pR25{ padding-right:25px !important}
.pR30{ padding-right:30px !important}
.pR35{ padding-right:35px !important}
.pR40{ padding-right:40px !important}
.pR45{ padding-right:45px !important}
.pR50{ padding-right:50px !important}

.pB5{ padding-bottom:5px !important}
.pB10{ padding-bottom:10px !important}
.pB15{ padding-bottom:15px !important}
.pB20{ padding-bottom:20px !important}
.pB25{ padding-bottom:25px !important}
.pB30{ padding-bottom:30px !important}
.pB35{ padding-bottom:35px !important}
.pB40{ padding-bottom:40px !important}
.pB45{ padding-bottom:45px !important}
.pB50{ padding-bottom:50px !important}


.pLR{ padding:0 !important}
.pLR5{ padding:0 5px !important}
.pLR10{ padding:0 10px !important}
.pLR15{ padding:0 15px !important}
.pLR20{ padding:0 20px !important}
.pLR25{ padding:0 25px !important}
.pLR30{ padding:0 30px !important}
.pLR35{ padding:0 35px !important}
.pLR40{ padding:0 40px !important}
.pLR45{ padding:0 45px !important}
.pLR50{ padding:0 50px !important}

/*마진*/
.m-auto{ margin-left:auto; margin-right: auto}
.m0{ margin:0 !important}
.m5{ margin:5px !important}
.m10{ margin:10px !important}
.m15{ margin:15px !important}
.m20{ margin:20px !important}
.m25{ margin:25px !important}
.m30{ margin:30px !important}
.m35{ margin:35px !important}
.m40{ margin:40px !important}
.m45{ margin:45px !important}
.m50{ margin:50px !important}
.m100{ margin:100px !important}

.mTarea{ margin-top:50px !important}
.mT5{ margin-top:5px !important}
.mT10{ margin-top:10px !important}
.mT15{ margin-top:15px !important}
.mT20{ margin-top:20px !important}
.mT25{ margin-top:25px !important}
.mT30{ margin-top:30px !important}
.mT35{ margin-top:35px !important}
.mT40{ margin-top:40px !important}
.mT45{ margin-top:45px !important}
.mT50{ margin-top:50px !important}
.mT60{ margin-top:60px !important}
.mT65{ margin-top:65px !important}

.mLR{ margin-left:5px; margin-right: 5px}
.mL5{ margin-left:5px !important}
.mL10{ margin-left:10px !important}
.mL15{ margin-left:15px !important}
.mL20{ margin-left:20px !important}
.mL25{ margin-left:25px !important}
.mL30{ margin-left:30px !important}
.mL35{ margin-left:35px !important}
.mL40{ margin-left:40px !important}
.mL45{ margin-left:45px !important}
.mL50{ margin-left:50px !important}
.mL55{ margin-left:55px !important}
.mL60{ margin-left:60px !important}
.mL65{ margin-left:65px !important}
.mL70{ margin-left:70px !important}
.mL75{ margin-left:75px !important}
.mL80{ margin-left:80px !important}
.mL85{ margin-left:85px !important}
.mL90{ margin-left:90px !important}
.mL95{ margin-left:95px !important}
.mL100{ margin-left:100px !important}

.mR5{ margin-right:5px !important}
.mR10{ margin-right:10px !important}
.mR15{ margin-right:15px !important}
.mR20{ margin-right:20px !important}
.mR25{ margin-right:25px !important}
.mR30{ margin-right:30px !important}
.mR35{ margin-right:35px !important}
.mR40{ margin-right:40px !important}
.mR45{ margin-right:45px !important}
.mR50{ margin-right:50px !important}

.mB5{ margin-bottom:5px !important}
.mB10{ margin-bottom:10px !important}
.mB15{ margin-bottom:15px !important}
.mB20{ margin-bottom:20px !important}
.mB25{ margin-bottom:25px !important}
.mB30{ margin-bottom:30px !important}
.mB35{ margin-bottom:35px !important}
.mB40{ margin-bottom:40px !important}
.mB45{ margin-bottom:45px !important}
.mB50{ margin-bottom:50px !important}
