        .clear {
            clear: both;
        }

        #facebook_connection {
            width: 355px;
/*            height: 190px;*/
/*            border: 2px solid red;*/
            margin: 0 auto;
            margin-top: 50px;
        }

        #sns_board {
            width: 10px;
            height: 180px;
            border: 2px solid silver;
            float: right;
        }
        
/*
        #facebook div {
            margin: auto 0;
        }
*/
